#main{
    border: solid black 5px;
    text-align: center;
    padding: 40px;
}
#pic1{
  margin: 20px auto;
  padding: 20px;
  border: rgb(43, 159, 226) solid 4px;
  overflow: auto;
}
.denverpic{

    float: left;
    display:block;
    margin-right: 20px;
  
}
.textcenter{
    text-align: center;
    font-size: 40px;
    text-decoration: rgb(43, 159, 226)  underline;
}
.padding{
    padding: 10px;
    font-size: 20px;
}